@model IEnumerable<NIPv1.Entities.LogEntity>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wyszukiwarka</h1>
    <p class="lead">Niniejsza wyszukiwarka ma na celu przeglądanie bazy danych przy pomocy numeru NIP, KRS lub REGON.</p>
</div>
<div class="body-content">
    
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>@Html.DisplayNameFor(model => model.TimesSearched)</th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.TimesSearched)</td>
            </tr>
        }
    </table>
</div>
